.header 
{
    min-height: 7rem;
    width: 100%; 
    grid-area: header;
    background-color: #203040;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0.5rem; */
    transition: all .7s ease-in;
}
.brand a{
    color:#fff;
    font-size: 2.1rem;
    font-weight: bold;
    text-decoration: none;
}
.header-links a
{
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    font-size: 1.8rem;
}
.header-links a:hover
{
    color:#ff8000;
}
.scrolled
{
    position: fixed;
    top: 0;
    left: 0;
    /* background-color: #203040; */
}
