.scroll-to-top {
    box-shadow: .4px 4px 12px rgba(0,0,0,0.9);
    border-radius: 0.5rem;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    cursor: pointer;
    animation: fadeIn 700ms ease-in-out 1s both;
    transition: all .5s ease-in-out 0s;
}
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
} 