.forgotpass span{
font-size: 20px;
color: royalblue;
text-transform: uppercase;
}
.forgotpass input{
background: #f3f6ff;
/* border: medium none; */
color: #696763;
display: block;
/* font-family: 'Roboto', sans-serif; */
font-size: 14px;
font-weight: 300;
height: 40px;
margin-bottom: 10px;
outline: medium none;
padding-left: 10px;
margin: auto;
min-width: 400px;
border: .1rem solid #FF6F61;
}

.forgotpass button {
min-width: 20px;
border: .1rem solid #FF6F61;
margin-bottom: 1rem;
}
.forgotpass .otp-notify{
    font-size: .8rem;
    color: #696763;
}