.form-profile {
border-radius: 1rem;
max-width: 25rem;
margin: 0 auto;
box-shadow: .4px 4px 12px rgba(0,0,0,0.2);
text-shadow: .4px .4px 5px rgba(0,0,0,0.2);
}
.form-profile > div {
display: flex;
flex-direction: column;
margin: 1rem;
}
.form-profile label {
margin: 1rem 0;
}
.form-profile input {
    display: block;
    margin: .8rem 1rem auto;
    border: none;
    border-bottom: .1rem solid dodgerblue;
    outline: none;
    padding: .6rem .4rem;
}
.update-profile{
margin-bottom: 2rem;
}